{
  "rules": {
    "string-quotes": "double",
    "color-hex-case": "upper",
    "color-hex-length": "short",
    "color-no-invalid-hex": true,
    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,
    "length-zero-no-unit": true,
    "value-list-comma-newline-after": "never-multi-line",
    "value-list-comma-space-after": "always",
    "declaration-colon-space-after": "always",
    "declaration-no-important": true,
    "declaration-block-single-line-max-declarations": 0,
    "block-no-empty": true,
    "block-opening-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "block-opening-brace-space-before": "always",
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-trailing-semicolon": "always",
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-list-comma-space-after": "always",
    "indentation": 2
  }
}
